<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <title><%= @title %></title>
  <link type="text/css" rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="/css/custom.css"/>
  <% if @photography %>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-image-gallery.min.css">
  <% end %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><img src="/images/misc/logo.gif"/></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class=<%= "#{@home}" %>><a href="/">Home</a></li>
          <li class=<%= "#{@about}" %>><a href="about">About</a></li>
          <li class=<%= "#{@photography}" %>><a href="photography">Photography</a></li>
          <li class=<%= "#{@cast}" %>><a href="cast">Cast</a></li>
          <li class=<%= "#{@filmmakers}" %>><a href="filmmakers">Filmmakers</a></li>
          <li class=<%= "#{@music}" %>><a href="music">Music</a></li>
          <li class=<%= "#{@credits}" %>><a href="credits">Credits</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <div id="footer">
    <div class="container">
    </div>
  </div>
  <script type="text/javascript" src="/vendor/jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
  <% if @photography %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap-image-gallery.min.js"></script>
  <% end %>
</body>
</html>
