<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <title><%= @title %></title>
  <link type="text/css" rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="/css/custom.css"/>
  <% if @photography %>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-image-gallery.min.css">
  <% end %>
  <% if @home %>
    <style>
      body { background-color: #222222; }
    </style>
  <% end %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><img src="/images/misc/logo.gif"/></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class=<%= "#{@home}" %>><a href="/">Home</a></li>
          <li class=<%= "#{@about}" %>><a href="about">About</a></li>
          <li class=<%= "#{@photography}" %>><a href="photography">Photography</a></li>
          <li class=<%= "#{@cast}" %>><a href="cast">Cast</a></li>
          <li class=<%= "#{@filmmakers}" %>><a href="filmmakers">Filmmakers</a></li>
          <li class=<%= "#{@music}" %>><a href="music">Music</a></li>
          <li class=<%= "#{@credits}" %>><a href="credits">Credits</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="main" class="container">
    <%= yield %>
  </div>
  <div class="push"></div>
  <div id="footer" class="sticky-footer">
    <div class="container">
      <div id="buttons">
        <a href="https://twitter.com/shipoffools2014" class="twitter twitter-follow-button" data-show-count="false" data-lang="en">Follow @shipoffools2014</a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="shipoffools2014">Tweet</a>
        <div class="fb-like" data-href="https://www.facebook.com/shipoffoolsthemovie" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
  </div>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script type="text/javascript" src="/vendor/jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
  <% if @photography %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap-image-gallery.min.js"></script>
  <% end %>
</body>
</html>
